<header class="jumbotron">
    <div class="container">
    <h1>Ignition Gateway</h1>
    <p>Powered by PLCnext Technology from Phoenix Contact</p>
    <p>
        <a
            class="btn btn-primary btn-lg"
            href="http://localhost:8088"
            target="_blank"
        >
            Ignition
        </a>
    </p>
    </div>
</header>