<header class="jumbotron">
    <div class="container">
    <h1>Sparkplug Gateway</h1>
    <p>Powered by PLCnext Technology from Phoenix Contact</p>
    <p>
        <a
            class="btn btn-primary btn-lg"
            href="https://www.pxc-iot.cloud/"
            target="_blank"
        >
            Ignition @ Phoenix Contact
            <span class="caret-right">></span>
        </a>
    </p>
    </div>
</header>